:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #f74e00;
    --color-secondary: #764ba2;
    --color-tre: #fbfbfb;
    --boton-padding: 20px 40px;
}

body {
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.obj{
    display: flex;
    align-items: center;
    
}

li{
    padding: 7%;
    border: radius 1px;

}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 10%;
    font-size: 25px;
}

a:hover{
    color: black;
    background-color: bisque;
    border: 1px solid rgb(0, 0, 0);
}



.formulario{
    display: flex;
    justify-content: center;
    padding: 30px;
    background: var(--background) ;
    border-radius: 10px;
    margin-bottom: 50px;

}
.label{

    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 35px;
}
.inText{

    color: #000000 ;
    font-size: 1.5rem;
    margin-bottom: 35px;

}
.area{
    color: #000000 ;
    font-size: 1.5rem;
    margin-bottom: 35px;  
}

.parte1{
    display: flex;
    flex-direction: column;
    width: 500px;
    
}

.parte2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 120px;
    width: 50%;


}

#botones{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    cursor: pointer;
}
.conte{
    display: flex;
    
}

main{
    display: flex;
    justify-content: center;

}

input{
    margin-top: 7px;
}
label{
    margin-top: 10px;
}

.buton{
    border: solid 1px black;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    background-color: var(--color-primary);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    color: var(--color-tre);
    cursor: pointer;


    
}

.vender{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
}

.secionventas{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
}


img{
    width: 90%;
}

.iconos{
    width: 50px;

}

.conlogos{
    display: flex;

}
.pie{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    width: 100%;
    color: white;
}

.imgProductos{
    height: 430px;
    width: 350px;
}